@{
    ViewBag.Title = "分类列表";
}
<div class="page-title row text-center">
    <h2>@ViewBag.Title</h2>
</div>
<div>
    <ul class="breadcrumb" style="width:250px">
        <li><a href="~/SysHome/Home">首页</a></li>
        <li class="active">浏览中心</li>
        <li class="active">@ViewBag.Title</li>
    </ul>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th class="text-primary">主类</th>
            <th>次类</th>
            <th class="text-left">选项</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var i in ViewBag.topictype)
            {
                <tr>
                    <td class="text-primary">@i.TypeName</td>
                    <td>@i.CourseName</td>
                    <td class="text-left">
                        @Html.ActionLink("进入", "ClassifieBrowse", new { CourseId = i.CourseId, CourseName = i.CourseName }, new { @class = "text-danger" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@*@Html.DropDownList("courseName", ViewBag.classlist as List<SelectListItem>, new { @class = "form-control input-short" })*@
