<link href="~/Content/UnifiedTest.css" rel="stylesheet" />
<link href="~/Content/vs.css" rel="stylesheet" />
<script src="~/Scripts/highlight.pack.js"></script>
<div class="page-title row text-center">
    <div class="page-title row text-center">
        <h2>第<span class="text-primary">@ViewBag.Title</span>次统测</h2>
    </div>
</div>
<div>
    <ul class="breadcrumb" style="width:350px">
        <li><a href="~/SysHome/Home">首页</a></li>
        <li class="active">测试中心</li>
        <li class="active"><a href="~/Syshome/UnifiedTestType">统测列表</a></li>
        <li class="active">第<span class="text-primary">@ViewBag.Title</span>次统测</li>
    </ul>
</div>
<body data-spy="scroll" data-target="#myScrollspy">
    <div class="container">
        <div class="row">
            <div class="col-xs-2 " style="margin-left:-10%" id="myScrollspy">
                <ul class="nav nav-tabs nav-stacked " data-spy="affix" data-offset-top="125">
                    @{
                        int i = 1;
                        foreach (var item in ViewBag.topicList)
                        {
                            <li id="S_@i" class="text-center"><a href="#section-@i">@i</a></li>
                            i++;
                        }
                    }
                </ul>
                <div class="navbar navbar-fixed-bottom" id="tijiaoshijuan">
                    @{
                        foreach (var item in ViewBag.timeInfo)
                        {
                            DateTime EndTime = (Convert.ToDateTime(item.StartTime));
                            <input type="hidden" id="startTime" value="@DateTime.Now">
                            <input type="hidden" id="endTime" value="@EndTime.AddMinutes(item.TimeLenth)">
                        }
                    }
                    <div class="well">
                        <span id="timer" class="text-danger" style="font-size:30px;"></span>
                    </div>
                    <div class="btn-group">
                        <button type="button" id="btnTijiao" class="btn btn-success">提交试卷</button>
                        <button type="button" id="cancel" class="btn btn-warning">放弃考试</button>
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
                @{
                    int j = 1;
                    foreach (var item in ViewBag.topicList)
                    {
                        <div id="topicType">

                            @{
                                string answer = item.Answer;
                                if (answer.Length >= 2)
                                {
                                    <label id="topicTypeLabel">多选题</label>
                                }
                                else
                                {
                                    <label id="topicTypeLabel">单选题</label>
                                }
                            }
                        </div>
                        <div id="section-@j" style="padding:10px;margin-bottom:20px; border: 1px solid #e6e6e6;width:150%">
                            <h3 style="margin-left:70px;">
                                @j<small>题</small>
                            </h3>
                            <pre><code>@item.Title</code></pre>
                            <div class="lx_item" style="margin-top:10px;min-height:250px;">
                                <ul id="answerUl">
                                    @if (answer.Length < 2)
                                    {
                                        <li>
                                            <div class="radio-custom radio-primary">
                                                <input onclick="liBorder(@j)" type='radio' value='A' name='answerIteam-@j' id='answer1-@j'>
                                                <label for="answer1-@j" id="labelanswerA-@j" name="labelanswer">
                                                    A：@item.AnswerA
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="radio-custom radio-primary">
                                                <input onclick="liBorder(@j)" type='radio' value='B' name='answerIteam-@j' id='answer2-@j'>
                                                <label for="answer2-@j" id="labelanswerB-@j" name="labelanswer">
                                                    B： @item.AnswerB
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="radio-custom radio-primary">
                                                <input onclick="liBorder(@j)" type='radio' value='C' name='answerIteam-@j' id='answer3-@j'>
                                                <label for="answer3-@j" id="labelanswerC-@j" name="labelanswer">
                                                    C：@item.AnswerC
                                                </label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="radio-custom radio-primary">
                                                <input onclick="liBorder(@j)" type='radio' value='D' name='answerIteam-@j' id='answer4-@j'>
                                                <label for="answer4-@j" id="labelanswerD-@j" name="labelanswer">
                                                    D：@item.AnswerD
                                                </label>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <input onclick="liBorder(@j)" type='checkbox' value='A' name='answerIteam-@j' id='answer1-@j'>
                                            <label for="answer1-@j" id="labelanswerA-@j" name="labelanswer">
                                                A：@item.AnswerA
                                            </label>
                                        </li>
                                        <li>
                                            <input onclick="liBorder(@j)" type='checkbox' value='B' name='answerIteam-@j' id='answer2-@j'>
                                            <label for="answer2-@j" id="labelanswerB-@j" name="labelanswer">
                                                B： @item.AnswerB
                                            </label>
                                        </li>
                                        <li>
                                            <input onclick="liBorder(@j)" type='checkbox' value='C' name='answerIteam-@j' id='answer3-@j'>
                                            <label for="answer3-@j" id="labelanswerC-@j" name="labelanswer">
                                                C：@item.AnswerC
                                            </label>
                                        </li>
                                        <li>
                                            <input onclick="liBorser(@j)" type='checkbox' value='D' name='answerIteam-@j' id='answer4-@j'>
                                            <label for="answer4-@j" id="labelanswerD-@j" name="labelanswer">
                                                D：@item.AnswerD
                                            </label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        j++;
                    }
                }
            </div>
        </div>
    </div>
</body>
<script src="~/Scripts/UnifiedTesr.js"></script>
