@{
    ViewBag.Title = "分类浏览";
    Layout = "~/views/shared/_Layout.cshtml";
}
<link href="~/Content/vs.css" rel="stylesheet" />
<link href="~/Content/Pre.css" rel="stylesheet" />
<script src="~/Scripts/highlight.pack.js"></script>
<script src="~/Scripts/ClassifieBrowse.js"></script>
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="~/SysHome/Home">首页</a>
    <span class="breadcrumb-item active">浏览中心</span>
    <a class="breadcrumb-item" href="~/BrowseCenter/ClassifieTypedBrowse">分类列表</a>
    <span class="breadcrumb-item active">@ViewBag.Title - @ViewBag.courseName</span>
</nav>
<div class="examone" id="main_M" style="margin: 0;padding: 0;font-size: 20px;font-family:微软雅黑;">
    <div class="lx_type" style="display: block;position:absolute;height:45px;width:66px;margin-top:5px;background-image:url(../Content/image/icons_1.png);background-repeat:no-repeat;z-index:1">
        <label id="topicType" style="color:aliceblue;font-size:14px;text-align:center;line-height:45px;margin-left:5px;">单选题</label>
    </div>
    <div class="box" style="border: 1px solid #e6e6e6;margin-left: 3px;">
        <div id="frm_main" style="display: block;margin:0;padding:0">
            <h1 class="title" style="font-size: 20px;font-family: 微软雅黑;line-height: 28px;margin-top: 11px;margin-left: 70px;">
                <strong style="font-size:30px;"><span id="topicId">@ViewBag.minTopicId</span></strong> / <span id="topicCount">@ViewBag.maxTopicId</span> &nbsp;
            </h1>
            <div id="PreBorder"><pre style="margin-right:80px;" class="pre-scrollable"><span id="tittle" style="font-size:16px"></span></pre></div>
            <div>
                <input type="hidden" name="minTopicId" id="minTopicId" value="@ViewBag.minTopicId" />
                <input type="hidden" name="maxTopicId" id="maxTopicId" value="@ViewBag.maxTopicId" />
                <input type="hidden" name="thisTopicId" id="thisTopicId" value="@ViewBag.minTopicId">
                <input type="hidden" name="isAutoNextTopic" id="isAutoNextTopic">
            </div>
            <div class="lx_item" style="margin-top: 10px;min-height: 214px">
                <ul id="answerUl" style="list-style:none;display:block;margin-left: 40px;margin-top: 10px;margin-bottom: 0px;width:auto;float: left;">
                    <li>
                        <input type='radio' value='A' name='answerIteam' id='answer1'>
                        <label for="answer1" id="labelanswer1" name="labelanswer" style="font-size:15px;width:800px;height:22px;">
                        </label>
                    </li>
                    <li>
                        <input type='radio' value='B' name='answerIteam' id='answer2'>
                        <label for="answer2" id="labelanswer2" name="labelanswer" style="font-size:15px;width:800px;height:22px;">
                        </label>
                    </li>
                    <li>
                        <input type='radio' value='C' name='answerIteam' id='answer3'>
                        <label for="answer3" id="labelanswer3" name="labelanswer" style="font-size:15px;width:800px;height:22px;">
                        </label>
                    </li>
                    <li>
                        <input type='radio' value='D' name='answerIteam' id='answer4'>
                        <label for="answer4" id="labelanswer4" name="labelanswer" style="font-size:15px;width:800px;height:22px;">
                        </label>
                    </li>
                </ul>
            </div>
            <span id="answerIsRight" style="margin-left:75px;margin-bottom:10px;display:none;font-size:13px;text-align:center;border-radius:3px;line-height:42px;height:42px;width:200px;"></span>
            <div id="answerBox" style="margin-left:75px;margin-bottom:10px;display:none">答案：<label id="answer" class="text-danger"></label></div>
            <div class="d-flex flex-row bg-secondary mb-4 bg-white">
                <div class="p-2">
                    <button type="button" id="lastpage" class="btn btn-success" style="margin-left:50px;" name="lastOrnextBtn" value="-1">上一题</button>
                </div>
                <div class="p-2">
                    <button type="button" id="nextpage" class="btn btn-success" name="lastOrnextBtn" value="1">下一题</button>
                </div>
                <div class="p-2">
                    <button type="button" id="showOrHidennAnswer" class="btn btn-danger" name="showOrHidennAnswer" value="1">显示答案</button>
                </div>
            </div>
            <div class="d-flex align-items-start bg-light" style="height:50px">
                <div class="p-2 "><input type="checkbox" name="AutoNextTmp" id="AutoNextTmp"><label class="btn btn-outline-success " for="AutoNextTmp" id="AutoNextTmpLabel">答对2秒后跳转到下一题</label></div>
                <div class="p-2 ">答对：<font id="TrueNum" class="btn btn-success ">0</font> 题</div>
                <div class="p-2 ">答错：<font id="FalseNum" class="btn btn-danger">0</font> 题</div>
                <div class="p-2 ">正确率：<font id="TruePre" class="btn btn-info">0%</font></div>
                <div class="p-2 "><a>跳转到</a></div>
                <div class="p-2 ">
                    <input class="form-control" type="text" id="tiaozhuan" value="1" style="width:60px;float:left;" />
                </div>
            </div>
        </div>
    </div>
</div>