@using MvcSiteMapProvider.Web.Html
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 厚溥题库</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/pop")
    @Scripts.Render("~/bundles/zjxd")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @RenderSection("Header", false)
</head>
<body id="body">
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark" style="top:-50px;">
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("题库", "Home", "SysHome", new { area = "" }, new { @class = "navbar-brand" })
        }
        else
        {
            @Html.ActionLink("题库", "AdminLogin", "SysAdmin", new { area = "" }, new { @class = "navbar-brand" })
        }
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">测试中心</a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("统一测试", "UnifiedTestType", "UifiedTestCenter", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("自我测试", "SelfTestType", "SeltTestCenter", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("成绩中心", "Score", "ScoreCenter", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">浏览中心</a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("顺序浏览", "Allbrowse", "BrowseCenter", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("分类浏览", "ClassifieTypedBrowse", "BrowseCenter", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("关于我们", "About", "Syshome", null, new { @class = "nav-link" })
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content">
        <!--Only for demo-->
        @*<ul class="nav">
                @{
                    var childSettings = Html.MvcSiteMap().SiteMap.FindSiteMapNodeFromKey("General");
                    var currentNode = Html.MvcSiteMap().SiteMap.CurrentNode;
                    foreach (var node in childSettings.ChildNodes)
                    {
                        var active = "";
                        if (currentNode != null && (currentNode.Equals(node) || currentNode.IsDescendantOf(node)))
                        {
                            active = "active";
                        }


                        <li class="@active">
                            <a href="@node.Url">@Html.DisplayFor(x => node.Title)</a>
                        </li>
                    }
                }
            </ul>*@
        @RenderBody()

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="" alt="" width="24" height="24">
                    <small>黔ICP备16006898号-1</small>
                    <small class="d-block mb-3 text-muted">&copy;2017 - @DateTime.Now.Year XXX.All Rights Reserved.</small>
                </div>
                <div class="col-6 col-md">
                    <h5>关于本站</h5>
                    <ul class="list-unstyled text-muted">
                        <li><p class="text-muted" href="#">做做题罢了</p></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>支持浏览器</h5>
                    <ul class="list-unstyled text-sm-left">
                        <li>
                            <img src="~/Content/image/download.png" style="height:25px;" />
                        </li>
                        <li><small class="text-muted" href="#">以上皆为最新版本</small></li>
                        <li><small class="text-muted" href="#">不支持移动设备</small></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>其他</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">开发者</a></li>
                        <li><a class="text-muted" href="#">博客</a></li>
                        <li><a class="text-muted" href="#">地址</a></li>
                        <li><a class="text-muted" href="#">联系方式</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        @*<footer style="margin-top:60px; color:gray">
                <div class="jumbotron text-center" style="margin-bottom:0">
                    <p class="text-center">
                        Copyright &copy; @DateTime.Now.Year XXX.All Rights Reserved.
                    </p>
                    <p class="text-center">
                        <span>黔ICP备16006898号-1</span>
                    </p>
                </div>
            </footer>*@
    </div>
    @RenderSection("scripts", required: false)
    @RenderSection("footer", required: false)
</body>
</html>
