@using HOPU.Models
@model RegisterViewModel
@{
    ViewBag.Title = "注册";
}
<h2>创建新帐户</h2>
@using (Html.BeginForm("AdminRegister", "SysAdmin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true,"", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <div class="d-flex align-items-start bg-white">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                <div class="p-2 ">
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RealUserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <div class="d-flex align-items-start bg-white">
                @Html.TextBoxFor(m => m.RealUserName, new { @class = "form-control" })
                <div class="p-2 ">
                    @Html.ValidationMessageFor(m => m.RealUserName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <div class="d-flex align-items-start bg-white">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                <div class="p-2 ">
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <div class="d-flex align-items-start bg-white">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                <div class="p-2 ">
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-block btn-success" value="注册" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
